:root {
    --colorPrincipal: #ccd5ae;
}

a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:black;
}

header {
    height: 120px;
    border: 1px solid black;
    background-color: var(--colorPrincipal);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:25px;
    padding-right:25px;
}

.nav{
    display:flex;   
    gap:10px;
}

.bi-cart-fill {
    font-size: 40px;
}

.counter-cart{
    width:25px;
    height:25px;
    background-color:red;
    border:1px solid black;
    border-radius:50%;
    position:absolute;
    top:35px;
    right:20px;
    text-align:center;
    color:white;
}

.card-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:space-between;
    margin-top:50px;
}

.tarjeta{
    width:630px;
    border:3px solid black;
    border-radius:10px;
    display:flex;
    gap:10px;
    align-items:center;
    justify-content:space-between;
    text-align:center;
    padding-left:20px;
    padding-right: 20px;
}

.add-btn{
    border-radius:10px;
    padding:5px;
    background-color:var(--colorPrincipal);
}

#carrito{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.inp-number{
    width:40px;
    height:50px;
    color:black;
}

.container-carrito{
    display:flex;
    margin-top:50px;
    justify-content:space-between;
}

.finalizar{
    border: 2px solid black;
    padding: 10px;
    border-radius:10px;
    margin-right:240px;
}

.btn-finalizar{
    border-radius:10px;
}