a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:black;
}

header {
    height: 120px;
    border: 1px solid black;
    background-color: #ccd5ae;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:25px;
    padding-right:25px;
}

.nav{
    display:flex;   
    gap:10px;
}

.bi-cart-fill {
    font-size: 40px;
}

.counter-cart{
    width:25px;
    height:25px;
    background-color:red;
    border:1px solid black;
    border-radius:50%;
    position:absolute;
    top:35px;
    right:20px;
    text-align:center;
    color:white;
}
