<div class="container-carrito">
    <div id="carrito">
    


    </div>
    <div>
        <div class="finalizar">
            <p id="prods"></p>
            <p id="precio"></p>
            <button class="btn-finalizar" onclick="comprar()">Comprar</button>
        </div>
    </div>
</div>