<div class="container-carrito">
    <div id="carrito">


    </div>

        <div class="finalizar" id="fin">
            <p id="prods"></p>
            <p id="precio"></p>
            <button class="btn-finalizar" onclick="comprar()">Comprar</button>
        </div>
</div>