<div class="container-carrito">
    <div id="carrito">
    


    </div>
    <div>
        <div class="finalizar">
            <p id="prods">Productos: </p>
            <p id="precio">Total: </p>
            <button class="btn-finalizar">Comprar</button>
        </div>
    </div>
</div>
